* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

#header-img {
    max-width: 5em;
    background-color: white;
}

.header-item:nth-of-type(1) {
    -webkit-text-stroke-width: 0.125em;
    -webkit-text-stroke-color: red;
    -webkit-text-fill-color: white;
    text-shadow: 2em 0 2em red, -2em 0 2.5em red;
}

.header-item:nth-of-type(2) {
    -webkit-text-stroke-width: 0.125em;
    -webkit-text-stroke-color: green;
    -webkit-text-fill-color: white;
    text-shadow: 2em 0 2em green, -2em 0 2.5em green;

}

#reduce-motion-button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    font-family: 'Signika';
}

#navbar {
    width: 100vw;
    height: 4em;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;
}

.navbar-button {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border: solid 1px rgba(0, 0, 0, 0.05);
    font-family: 'Signika';
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

.intro-section{
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, .75);
}

h1 {
    font-family: 'Signika';
    font-size: 3em;
    margin: 0.5em 0 0 0;
}

h3, h2 {
    font-family: 'Signika';
    font-size: 2em;
    margin: 0.5em;
    text-align: center;
}

h4, label {
    font-family: 'Signika';
    font-size: 1em;
    text-align: center;
}

.purpose-statement {
    font-family: 'Signika';
    font-size: 1.25em;
    text-align: justify;
    font-weight: lighter;
    color: #2F0000;
    margin: 1em 2.5em 1em 5em;
}

#isr-over-pal-land {
    opacity: 0.9;
    height: 27.5em;
}

.history-section {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: whitesmoke; 
}

.scrollable-history {
    margin: 1em;
    overflow-x: scroll;
    border-radius: 1em;
    border: solid black 1px;
    box-shadow: .1em .1em 1em red;
    background-color: rgba(4, 175, 175, 0.2);
}

.scrollable-history::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

.scrollable-history::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable-history::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0.5em black;
}

.scrollable-history > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30%;
}

.scrollable-history > ul > li {
    display: block;
    opacity: 0;
    flex: none;
    max-width: 80%;
    margin: 0em 2em;
    transition: opacity 1s;
    font-family: 'Signika';
    text-align: center;
}

.scrollable-history > ul > li > .event-year {
    display: block;
    max-width: 80%;
    margin: 0em 2em;
    text-align: center;
    font-weight: bolder;
}

.resources-section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(3, 174, 3, 0.75);;
}

#resources-shelf {
    display: flex;
}

#resources-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

#resources-books {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2em;
}

#resources-shelf > * > iframe {
    flex: none;
    width: 100%;
    height: 25%;
    margin: 2.5% 2.5%;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: line-through ;
}

.news-section  {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color:darkgray;
}

.news-outlets {
    display: flex;
    margin: .5em 1em;
    flex: 1;
    flex-direction: column;
    max-height: 7em;
    flex-wrap: wrap;
}

.news-section > * > a, .news-section > * > p {
    flex: none;
    margin: .5em 0em;
    font-family: 'Signika';
    color:rgba(7, 47, 165, 0.842);
}

.petition-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: lightseagreen;
}

.petition-paragraph {
    width: 65%;
    font-family: 'Signika';
    font-size: 1.25em;
    text-align: justify;
    font-weight: lighter;
    color: #2F0000;
    margin: 1em 0.5em 1em 1em;
}

.petition-signatures {
    width: 35%;
    font-family: 'Cedarville Cursive';
    font-size: 1em;
    margin: 1em 0.5em 1em 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sign-petition {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(32, 178, 170, 0.95);
    box-shadow: 0.5em 0em 1em red;
}

.error {
    border: solid red 2px;
    background-color: pink;
}

.modal {
    /* set opacity to 0 before display / visibility to avoid transition at loading */
    opacity: 0;
    visibility: hidden;
    width: 95vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 35vh; left: 2.5vw;
    background-color: transparent;
    z-index: 2;
    transition: opacity 2s ease-in;
}

.modal-content {
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    color: black;
    background-color: steelblue;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5em red;
}

#modal-img {
    max-width: 10em;
}

#thanks-modal-content {
    width: 5em;
}

#close-modal-button {
    height: 2em;
}

.footer {
    width: 100vw;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

.dark-mode {
    background-color: rgb(17, 15, 15);
    color: rgb(185, 185, 185);
}

.revealable {
    position: relative;
    transform: translateY(25em);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}


.revealable-bottom {
    position: relative;
    transform: translateY(-25em);
    opacity: 0;
    transition: transform 2s ease, opacity 2s ease;
}

.active {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width: 117.85em) {
    .intro-section, .history-section,
    .resources-section {
        flex-flow: column;
    }

    .purpose-statement {
        margin: 1em 2.5em 1em 2.5em;  
    } 

    .scrollable-history {
        width: 95%;
    }

    #isr-over-pal-land {
        width: 90%;
        height: auto;
        margin: 1em 1em 1em 1em;
    }

    .scrollable-history > ul {
        padding-left: 25%;
    }

    .scrollable-history > ul > li {
        max-width: 100%;
    }

    .sign-petition {
        flex-direction: column;
    }
}

@media (max-width: 50em) {
    #navbar {
        position: relative;
        top: 0;
        flex-direction: column;
        z-index: 0;
    }

    .navbar-button {
        height: 20em;
    }

    .intro-section {
        position: relative;
        top: 4.9em;
    }

    .scrollable-history > ul {
        padding-left: 10%;
    }
}